{% extends 'compare/base.html' %}
{% block content %}
<div id="compare-card-compare" class="row">
	<div class="wrapper1">
		<div class="card1">
			<img class="icon" src="/static/images/03_icon_img.png">
			<div class="text">카드등록하기</div>
		</div>
		
	</div>
	<img class="vs_icon" src="/static/images/03_icon_vs.png">
	<div class="wrapper2">
		<div class="card2">
			<img class="icon" src="/static/images/03_icon_img.png">
			<div class="text">카드등록하기</div>
		</div>
	</div>
	<div class="button">비교하기
	</div>
</div>
{% endblock %}
