@import 'color';

html, body {
  font-size: 16px;
}

.btn {
  border-radius: 0;
  padding: 16px 45px;
  font-size: 1em;
}

#toolbar {
  position: relative;
  background: $piont;
  height: 56px;
  line-height: 56px;
  padding: 0 16px;
}

#toolbar-menu-toggle {
  color: $white;
  width: 20px;
  height: 20px;
  margin: 18px 16px 18px 0;

  &:hover {
    cursor: pointer;
  }
}

#toolbar-title {
  color: $white;
  font-size: 1em;
}

#index {
  .banner-list {
    .banner {
      position: relative;
      .background-wrapper {
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .overlay {
          position: absolute;
          top: 0;
        }
      }
      .content-wrapper {
        position: absolute;
        left: 17px;
        bottom: 19px;
        color: $white;
      }
      .content {
        margin-top: 11px;
      }
      .label {
        border: 1px solid $white;
        border-radius: 3px;
      }
    }
  }
}

#recommendation {
  .top {
    padding: 38px 0;
    .step-list {
      text-align: center;
      margin-bottom: 50px;
      .step {
        display: inline-block;
        &:not(:first-child):before, &:not(:last-child):after {
          display: inline-block;
          vertical-align: middle;
          margin-left: -1px;
          margin-right: -1px;
          width: 11px;
          height: 1px;
          background: $gray3;
          content: ' ';
        }
        .step-indicator {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background: $gray3;
        }
        &.active {
          &:before {
            margin-left: -12px;
            width: 22px;
            background: $piont;
          }
          &:after {
            background: linear-gradient(90deg, $piont, $gray3);
          }
          .step-indicator {
            background: $piont;
          }
        }
      }
    }
    .message-wrapper {
      text-align: center;
      .message {
        font-size: 1em;
        font-weight: bold;
        color: $black;
      }
      .hint {
        font-size: 0.875em;
        font-weight: lighter;
        color: $gray1;
      }
    }
  }
  .bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    .next {
      background: $bgcolor7;
      color: $white;
    }
  }
}

#recommendation-select-method {
  background: $gray4;
  padding: 15px;
  .method-list {
    .method {
      display: table;
      text-align: center;
      background: $white;
      width: 100%;
      height: 200px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      .wrapper {
        display: table-cell;
        vertical-align: middle;
        .icon {
          width: 106px;
          height: 106px;
          margin-bottom: 10px;
        }
        .name {
          color: $gray2;
        }
      }
    }
  }
}

#recommendation-benefit-monthly-total-usage {
  padding: 0px 30px;
  .money-wrapper {
    text-align: center;
    font-size: 1.25em;
    color: $black;
    margin-bottom: 30px;
    .money {
      display: inline-block;
      margin-left: 20px;
      font-size: 1.375em;
      color: $piont;
    }
  }
  .custom {
    margin-top: 150px;
  }
}

#recommendation-benefit-select-category {
  .category-list {
    padding-left: 4px;
    padding-right: 4px;
    .category {
      padding: 4px;
      .category-wrapper {
        padding: 24px 0 15px;
        border: 1px solid $gray2;
        border-radius: 5px;
        img {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}

 #recommendation-recommendation-result .slider-nav {
    padding-top: 31px;
    height: 280px;
    background: #3b414d;
    .hashtag {
       font-size: 0.85em;
       color: $white;
       text-align: center;
    }
 }
 #recommendation-recommendation-result .slider-for {
    text-align: center;

    .benefit-detail {
       text-align: center;
       .total-benefit {
          display: table-cell;          
          vertical-align: middle;
          height: 93px;
          background: #ffffff; 
       }
       .category-list {
          background: #fafafa;
          height: 236px;
          padding-top: 15px;
          padding-left: 10px;
          padding-right: 10px;
          .category-wrapper {
             display: inline-block;
             text-align: center; 
             height: 111px;
             width: 111px;
             background-image: url("../images/01_bg_info.png");
             background-repeat: no-repeat;
             background-size: cover; 
          }
       }
       .more-benefit {
          text-align: right;
          background: #ddddcd;
          height: 40px;
          padding-top: 9px;
          padding-right: 19px;
          margin-bottom: 9px;
       }
       .bottom-button {
          display: inline-block;
          padding-left: 7px;
          .compare-box {
             background: #d63516;
             height: 54px;
             width: 170px;
             display: table-cell;
             vertical-align: middle;
             color: #ffffff;
          }
          .card-select {
             background: #d63516;
             height: 54px;
             width: 170px;
             display: table-cell;
             vertical-align: middle;
             color: #ffffff;
          }
       }
    }
 }

#recommendation-recommendation-result-detail {
   .card-info {
      background: #3b414d;
      padding-top: 23px;
      .info {
      margin-bottom: 5px;
         .image {
         }
         .text-info {
            padding-top: 10px;
            .card-name {
               color: $white;
            }
            .card-desc {
               color: $white;
            }
            .annual-fee-wrapper {
               color: $white;
            }
         }
      }
      .button-wrapper {
         padding-left: 14px;
         .compare-box {
             background: #d63516;
             height: 54px;
             width: 170px;
             display: table-cell;
             vertical-align: middle;
             color: #ffffff;
          }
          .card-select {
             background: #d63516;
             height: 54px;
             width: 170px;
             display: table-cell;
             vertical-align: middle;
             color: #ffffff;
          }   
      }
   }
   .benefit-detail {
   }
} 
#compare-card-compare {
  text-align: center; }
  #compare-card-compare .wrapper1 {
    text-align: center;
    background: #fafafa;
    margin-bottom: -80px;
    padding-bottom: 113px;
    padding-top: 28px; }
    #compare-card-compare .wrapper1 .card1 {
      text-align: center;
      display: inline-block;
      width: 262px;
      height: 170px;
      padding-top: 56px;
      background-image: url("../images/03_bg_comparecard.png");
      background-repeat: no-repeat;
      background-size: cover; }


  #compare-card-compare .wrapper1 .card1 .icon {
        margin-bottom: 11px; }
  #compare-card-compare .wrapper2 {
    text-align: center;
    background: #efefef;
    margin-top: -80px;
    padding-top: 113px;
    padding-bottom: 23px; }
    #compare-card-compare .wrapper2 .card2 {
      text-align: center;
      display: inline-block;
      width: 262px;
      height: 170px;
      padding-top: 56px;
      background-image: url("../images/03_bg_comparecard.png");
      background-repeat: no-repeat;
      background-size: cover; }
      #compare-card-compare .wrapper2 .card2 .icon {
        margin-bottom: 11px; }

  #compare-card-compare .button {
    height: 50px;
    background: #3b414d;
    color: #ffffff; }
