{% extends 'busket/base.html' %}
{% block content %}
<div id="my-busket" class="row">
  <div class="card-list">
    <div class="list-item">
    <img src="/static/images/busket_empty_card.png" width=152px height=96px>
    <div class="card-info">
      <div class="name">삼성카드6 V2</div>
      <div class="hashtag">#영화 #온라인쇼핑 #커피 #교통 #백화점 #음식점 #편의점</div>
      <div class="etc-info">
        <img src="/static/images/icon_annual_fee.png" width=35px height=15px>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
